@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

* {
    outline: none;
}

body {
    margin: 0;
    font-family: 'Lexend', sans-serif;

    background-color: rgb(245, 245, 246);
}

h1 {
    font-family: 'Lexend', sans-serif;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.all-width {
    width: 100%;
}

.regular-label {
    margin-left: 2px;
    font-size: 14px;
    display: flex;
}

.input-1 {
    padding: 8px 10px;
    margin: 4px 0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
    border-color: rgb(0, 159, 255);;
    box-shadow: 0px 0px 4px 1px rgb(0, 159, 255);
}

.input-1:focus {
    border-color: rgb(0, 159, 255);;
    box-shadow: 0px 0px 4px 1px rgb(0, 159, 255);
}

.error-message-wrapper {
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(255, 179, 179);
    border: 1px solid rgb(255, 124, 124);
}

.error-message {
    margin: 0;
    font-size: 13px;
    color: rgb(95, 0, 0);
    font-weight: bold;
}